<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>headers}}
        <p>This page is created by YS. It uses data from mapbox.com and darksky.net.</p>
        <img class='portrait' src='/img/robot.png'>
    </div>

    {{>footer}}
</body>

</html>